<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/index.css') }}">
    
    <title>Passengers</title>
</head>

<body>

  <header>
      <div class="container">
        <a href="{{ url_for('index')}}">
          <img src = "{{ url_for('static', filename='images/FLY_HI2-309x88.png') }}" alt ="logo" class="logo">
        </a>
  

        <nav class="nav_menu">
          <ul>
            <li><a href="{{ url_for('index') }}">Flights</a></li>
            <li><a href="{{ url_for('details') }}">My Details</a></li>

            <li><a href="{{ url_for('faq') }}">FAQ</a></li>
            <!-- <li><a href="{{ url_for('contact') }}">Contact</a></li> -->

          </ul>
        </nav>
      </div>
    </header>
    
    <div>
        <h2 style="text-align: center; padding: 20px;" >Awesome Customers of  
            <span style="color: #1e486e">Fly</span><span style="color: #eb8046">High</span>
        </h2>
    </div>
    <div class = "column_box">
      <div >
        <table class="ptable">
          <tr>
            <td class='pcrow'>Name</td>
            <td class='pcrow'>Flight Id</td>
            <td class='pcrow'>Book Date</td>
          </tr>
        </table>            
        </div>
  </div>
  <div class="prow_box">
    <table class="ptable">
      {% for passenger in passenger_list %}
      <tr>
        <td class="prow">{{passenger.f_name}} {{passenger.l_name}}</td>
        <td class="prow">F-{{passenger.flight_id}}</td>
        <td class="prow">{{passenger.book_date}}</td>
      </tr>
      {% endfor %}
    </table>
       
</body>

</html>